img{
	width:200px;
	height:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#fsEquipment .ui-block-a, #fsEquipment .ui-block-d
{
	max-width: 4em;
}
#fsEquipment .ui-block-b, #fsEquipment .ui-block-c
{
	max-width: 4em;
}
#fsEquipment input
{
	text-align: center;
}
#_fsEquipment .ui-block-a, #_fsEquipment .ui-block-d
{
	max-width: 4em;
}
#_fsEquipment .ui-block-b, #_fsEquipment .ui-block-c
{
	max-width: 4em;
}
#_fsEquipment input
{
	text-align: center;
}
.job-col h2 .ui-block-b
{
	text-align: right;
}
#lstJobs .ui-block-a
{
	width: 75%;
}
#lstJobs .ui-block-b
{
	text-align: right;
	max-width: 25%;
}
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
{ 
img{
	width:200px;
	height:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}}

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
{ 
img{
	width:2500px;
	height:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}}

